<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="app" type="UvRunConfigurationType" factoryName="UvRunConfigurationType">
    <option name="args">
      <list />
    </option>
    <option name="checkSync" value="true" />
    <option name="env">
      <map />
    </option>
    <option name="runType" value="MODULE" />
    <option name="scriptOrModule" value="app" />
    <option name="uvArgs">
      <list />
    </option>
    <option name="uvSdkKey" value="uv (python_template)" />
    <method v="2" />
  </configuration>
</component>